a, input, button {
  color: white;
  text-transform: none;
  border: none;
  outline: none; }
  a:hover, input:hover, button:hover {
    text-decoration: none;
    color: #D4C17F; }

body {
  background-color: #242B33;
  color: #fff; }

img {
  background-repeat: no-repeat; }

.hedder {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  position: sticky;
  top: 0;
  z-index: 4; }
  .hedder__context {
    float: right;
    margin-top: 10px; }

.top {
  background-size: contain;
  background: url("../img/bg-top.jpg"); }
  .top__titel {
    text-align: center;
    color: #D4C17F;
    padding: 90px 0 50px;
    font-family: 'Playfair Display';
    font-size: 32px;
    font-weight: 900; }
    @media (min-width: 768px) {
      .top__titel {
        padding: 140px 0 70px;
        font-size: 46px; } }
    @media (min-width: 992px) {
      .top__titel {
        padding: 190px 0 70px;
        font-size: 48px; } }
    @media (min-width: 1200px) {
      .top__titel {
        padding: 225px 0 100px; } }
  .top__mouse {
    text-align: center;
    padding-bottom: 120px;
    animation: one 5s infinite; }
    @media (min-width: 768px) {
      .top__mouse {
        padding-bottom: 200px; } }
  .top__information {
    font-family: 'Raleway';
    font-size: 18px;
    text-align: center;
    padding-bottom: 25px; }
    @media (min-width: 992px) {
      .top__information {
        padding-bottom: 75px; } }

@keyframes one {
  0% {
    transform: translate(0); }
  30% {
    transform: translateY(30px); }
  50% {
    transform: translateY(60px); }
  70% {
    transform: translateY(30px); }
  100% {
    transform: translateY(0px); } }
.benefits {
  padding: 90px 0 80px;
  text-align: center;
  position: relative; }
  .benefits__icon {
    padding-top: 30px; }
  .benefits__text {
    font-family: Raleway;
    font-size: 20px;
    padding-top: 60px; }
  .benefits__img {
    width: 300px;
    height: 510px;
    position: absolute;
    right: 65px;
    top: -20px; }

@media (min-width: 992px) {
  .home {
    padding: 30px 0; } }
@media (min-width: 1200px) {
  .home {
    padding: 40px 0; } }
.home__content {
  text-align: center;
  position: relative; }
  .home__content-item {
    width: 355px;
    height: 216px;
    margin: 20px 3px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain; }
    @media (min-width: 414px) {
      .home__content-item {
        margin: 20px 33px; } }
    @media (min-width: 768px) {
      .home__content-item {
        margin: 20px 10px; } }
    @media (min-width: 992px) {
      .home__content-item {
        width: 455px;
        height: 280px;
        margin: 20px 15px; } }
    @media (min-width: 1200px) {
      .home__content-item {
        width: 535px;
        height: 320px;
        margin: 20px 20px; } }
    .home__content-item.loft1 {
      background-image: url(../img/icon/loft1.svg);
      background-size: contain; }
      @media (min-width: 1200px) {
        .home__content-item.loft1:hover {
          transform: scale(2.13) translate(132px, 85px);
          transition-duration: 2s;
          transition-timing-function: linear;
          z-index: 3; } }
    .home__content-item.loft2 {
      background-image: url(../img/icon/loft2.svg);
      background-size: contain; }
      @media (min-width: 1200px) {
        .home__content-item.loft2:hover {
          transform: scale(2.13) translate(-132px, 85px);
          transition-duration: 2s;
          transition-timing-function: linear;
          z-index: 3; } }
    .home__content-item.loft3 {
      background-image: url(../img/icon/loft1.svg);
      background-size: contain; }
      @media (min-width: 1200px) {
        .home__content-item.loft3:hover {
          transform: scale(2.13) translate(132px, -85px);
          transition-duration: 2s;
          transition-timing-function: linear;
          z-index: 3; } }
    .home__content-item.loft4 {
      background-image: url(../img/icon/loft2.svg);
      background-size: contain; }
      @media (min-width: 1200px) {
        .home__content-item.loft4:hover {
          transform: scale(2.13) translate(-132px, -85px);
          transition-duration: 2s;
          transition-timing-function: linear;
          z-index: 3; } }
    .home__content-item-text {
      font-family: Raleway;
      font-size: 24px;
      position: absolute;
      bottom: 44px;
      left: 60px;
      z-index: 2; }

h2 {
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  color: #D4C17F;
  padding-bottom: 25px;
  position: relative; }
  @media (min-width: 414px) {
    h2 {
      padding-bottom: 35px; } }
  @media (min-width: 768px) {
    h2 {
      padding-bottom: 45px;
      text-align: left; } }
  @media (min-width: 992px) {
    h2 {
      padding-bottom: 52px; } }
  @media (min-width: 1200px) {
    h2 {
      padding-bottom: 60px; } }

.element3 {
  position: absolute;
  top: 80px;
  left: -232px; }

.look {
  background-image: url(../img/look.svg);
  padding: 75px 0; }
  @media (min-width: 414px) {
    .look {
      padding: 90px 0; } }
  @media (min-width: 768px) {
    .look {
      padding: 120px 0; } }
  @media (min-width: 992px) {
    .look {
      padding: 150px 0; } }
  @media (min-width: 1200px) {
    .look {
      padding: 180px 0; } }
  .look__text {
    font-family: Raleway;
    font-size: 16px;
    padding-bottom: 20px; }
  .look__content-text {
    font-size: 13px;
    font-family: Raleway;
    padding-bottom: 22px; }
  .look__content input {
    width: 100%;
    background-color: rgba(145, 144, 144, 0.5);
    font-family: Raleway;
    font-size: 14px;
    border: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    color: #BEBEBE;
    cursor: pointer; }
    .look__content input:focus {
      border: 1px solid;
      box-shadow: 1px 1px 3px 2px; }
  .look__content button {
    background: #D4C17F;
    font-family: Raleway;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    width: 100%;
    border: none; }
    .look__content button:hover > a {
      color: #fff; }
    .look__content button:hover {
      border: 1px solid;
      box-shadow: 1px 1px 3px 2px;
      color: #fff; }

.video {
  position: relative; }
  .video__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer; }
  .video_img {
    display: block;
    width: 100%;
    position: relative; }
  .video .element4 {
    position: absolute;
    top: 179px;
    right: 164px; }

.question {
  padding: 20px 0 30px; }
  @media (min-width: 992px) {
    .question {
      padding: 40px 0 50px; } }
  @media (min-width: 1200px) {
    .question {
      padding: 160px 0; } }

/*# sourceMappingURL=styles.css.map */
